<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Watcher</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.css')}}">
  <script src="{{url_for('static',filename='js/node_modules/socket.io-client/dist/socket.io.js')}}"></script>
</head>
<body>
  <div class="contaier text-center h-100">
    <div>
      <button id="screenCpt" class="btn-capture px-2 py-1 my-4">Screen capture</button>
    </div>
    <div>
      <button id="webcamCpt" class="btn-capture px-2 py-1 my-4">Webcam capture</button>
    </div>
    <div id="frame">
      
    </div>
    <div>
      <button id="stopBtn" class="btn-capture px-2 py-1 my-4 d-none">Stop</button>
    </div>
  </div>
  <!-- <script src="{{url_for('static',filename='js/main.js')}}"></script> -->
  <script>
    window.onload = function(){
      const screen = document.getElementById("screenCpt")
      const webcam = document.getElementById("webcamCpt")
      const frame = document.getElementById("frame")
      const stop = document.getElementById("stopBtn")
      const socket = io()
      
      webcam.addEventListener("click", function(){
        alert("Camera is starting...")
        socket.emit("start_webcam")
        stop.classList.toggle("d-none")
      })

      stop.addEventListener("click", function(){
        alert("Stop....")
        socket.emit("stop_webcam")
        stop.classList.toggle("d-none")
      })

      socket.on("recording", function(arrayBuffer){
        const base64_img = "data:image/jpeg;base64,"+arrayBuffer
        const img = new Image(400, 300)
        img.src = base64_img
        img.style.border = "2px solid black"
        // console.log(base64_img);
        frame.innerHTML = img.outerHTML
      })

      socket.on("connect", function(){
        console.log("Connection is established")
        alert("Connection is established")
      })

      socket.on("disconnect", function(){
        this.close()
      })
    }
  </script>
</body>
</html>